@import "~antd/dist/antd.less";

@font-face {
  font-family: "nexonGothic";
  src: url("./fonts/NEXON Lv2 Gothic.ttf");
}

div.slick-slider > ul.slick-dots {
  margin-left: -18%;
}
div.slick-slider > ul.slick-dots > li {
  margin-bottom: 15px;
}
div.slick-slider > ul.slick-dots > li > button {
  height: 15px;
  background-color: rgb(194, 181, 111);
  border: 1px solid rgb(59, 57, 55);
}
div.slick-slider > ul.slick-dots > li.slick-active > button {
  height: 15px;
  background-color: rgb(223, 195, 39);
  border: 1px solid rgb(59, 57, 55);
}

div.ant-slider-disabled > div.ant-slider-track {
  background-color: #f5a300 !important;
}
