/* 클래스 이름 지정 형식: [파일이름]_[컴포넌트이름]_[부가설명] */

.app_content_side {
  padding: 10px;
  background-color: #fff;
}
.app_content_main {
  padding: 10px;
}

.project_card_grid {
  width: 100%;
  margin: 10px;
}

.career_card_grid {
  width: 60%;
  margin: 10px;
}

.aboutme_btn {
  width: 80px;
  height: 60px;
}
.aboutme_textsize {
  font-size: 24pt;
}
