/* 클래스 이름 지정 형식: [파일이름]_[컴포넌트이름]_[부가설명] */
.app_layout_wrapper {
  font-family: "nexonGothic";
  margin-left: 10%;
  margin-right: 10%;
}
.app_content_main_wrapper {
  padding: 10px;
}
.app_content_side_wrapper {
  padding: 20px;
  padding-top: 0px;
  background-color: #b6a4a4;
}
.app_content_side_anchor {
  /* margin-top: 200%; */
  position: absolute;
  margin-top: 60px;
  /* bottom: 100px; */
}
.app_content_side_anchor_link {
  margin-top: 8px;
  font-size: 18pt;
  font-weight: bold;
}

.project_card_grid {
  width: 100%;
  margin: 10px;
}

.career_card {
  width: 70%;
  margin: 10px;
}
.career_card_timeline {
  border: 1px solid red;
  margin-left: -40%;
  margin-top: 10px;
  margin-bottom: -20px;
}
.career_card_text {
  font-size: 14pt;
}

.aboutme_btn {
  width: 80px;
  height: 60px;
}
.aboutme_textsize {
  font-size: 24pt;
}

.href_hide_div {
  border: 1px solid green;
  /* position: absolute; */
  margin-top: -10%;
  width: 100%;
}
